@tailwind base;
@tailwind components;
@tailwind utilities;

/* LocalLink baseline */
html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans;
}

/* Line clamp utility */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
